.title {
  font-weight: 800;

  &-lg {
    font-size: 24px;
    margin-bottom: map-get($offsets, lg);

    @media (max-width: 768px) {
      font-size: 20px;
    }
  }

  &-md {
    font-size: 20px;
    margin-bottom: map-get($offsets, md);

    @media (max-width: 768px) {
      font-size: 18px;
    }
  }

  &-sm {
    font-size: 18px;
    margin-bottom: map-get($offsets, sm);

    @media (max-width: 768px) {
      font-size: 16px;
    }
  }
}
