@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body {
  font-family: 'Roboto', Arial;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
}